<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>BPMS Process Flow Tracker</title>
<link href="lib/css/bootstrap.css" rel="stylesheet">
<link href="lib/css/bootstrap-theme.css" rel="stylesheet">
</head>
<body ng-app="bpmsFlowApp">
	<div ng-controller="MainController as vm" ng-clock>
		<br>
		<div class="container-fluid">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">jBPM Process Instance Tracker</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<form class="form-inline">
							<div class="form-group">
								<label for="pId">Process Id</label> <input type="text" class="form-control" id="pId" placeholder="1" ng-model="vm.processId">
							</div>
							<button class="btn btn-default" ng-click="vm.loadImage()">Update</button>
						</form>
					</div>
					<div class="row">
						<div id="image"></div>
					</div>
					<div class="row">
						<div>Comments</div>
						<ul class="list-group">
							<li ng-repeat="comment in vm.comments" class="list-group-item">{{comment.__text}}</li>
						</ul>
						<div ng-if="vm.comments.length < 1">No comments added.</div>
					</div>
					<div class="row" style="padding-bottom: 50px">
						<div>Photos</div>
						<img ng-repeat="photo in vm.photos" class="img-rounded" ng-src="{{photo}}" width="25%" height="25%" style="-webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); margin-top: 50px">
						<div ng-if="vm.photos.length < 1">No photos uploaded.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="lib/js/angular.js"></script>
	<script src="lib/js/x2js.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
</body>
</html>